
/* Custom properties */
:root{
  --light-color: #fff;
  --light-color-alt: #afb6cd;
  --primary-background-color: #171713;
  --secondary-background-color: #252830;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --gradient-color: linear-gradient(
      115deg,#000000,#3a3933,#c8ff00,#e4e40b,#fbff00);
  --transparent-light-color: rgba(255,255,255,.05);
  --transparent-dark-color: rgba(0,0,0,.75);
  --btn-bg-color: #e2cc00;
  --accent-color: #000000;
  --font-family: 'Poppins', sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
  
}

/* Base styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color:  #dac50b;
  background-color: var(--primary-background-color);
  letter-spacing: 1px;
  transition: background-color .25s,color .25s;
}

a{
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}

input,
button {
font: inherit;
color: inherit;
border: none;
background-color: transparent;
}

i{
  font-size: var(--font-size-md);
}
/* Theme color change */
body.light-theme{
  --light-color: #3d3d3d;
  --light-color-alt: rgba(0,0,0,.6);
  --primary-background-color: #fff;
  --secondary-background-color: #f1f1f1;
  --hover-light-color: #fff;
  --transparent-dark-color: var(--secondary-background-color);
  --transparent-light-color: rgba(0,0,0,.1);
  color: #000000d3;
}


.wallet-btn, #go-to-mint-page{
    border-radius: 4rem;
    margin-left: 2rem;
    border-color: transparent;
    animation: goToMintAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.btn:hover {
    box-shadow: var(--bg-color-transparent);
}

.btn-go-mint{
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--btn-bg-color);
    color: var(--accent-color);
    font-family: var(--font-secondary);
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease;
    box-shadow: var(--header-shadow);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    outline: none;
    
  }
#countdown2h {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--font-secondary);
    padding: 15px;
    background-color: var(--bg-color-transparent);
    z-index: 15000;
    position: fixed;
    top: 0; right: 0%; left: 0%;
    max-width: 100%;
    background-color: #000000;
    }
  
  
   .countdown2 {
    justify-content: space-between;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .countdown2 > h1 {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  font-size: 30px;
  font-weight: normal;
  }
  #b1{
    display: none;
     }
  
  
  .time2{
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: medium;
    }
  
  .count1 {
    background: var(--accent-color);
    color:  #dac50b; 
    font-weight: bolder;
    font-family: var(--font-secondary);
    padding: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 0.3;
    border-radius: 4px 4px 0 0;
  }
  
  .count3 {
    color: var(--font-color);
    font-weight: 700;
    font-family: var(--font-secondary);
    transform: scale(1.2);
    padding-right:2rem;
    width: 100%;
    text-align: center;
    color:  #dac50b;
    }
  
  .count4{
    color: #e2cc00;
    font-weight: bold;
    font-size: large;
    margin-top: 16px;
    transform: scale(1.3);
  }
  
  .count2 {
    background: var(--btn-bg-color);
      font-family: var(--font-secondary);
      font-size: inherit;
      color: #000000;
      padding: 0.5rem 0.7rem;
      display: inline-block;
      width: 100%;
      text-align: center;
      line-height: 0.5;
      border-radius: 0 0 4px 4px;
  } 
  .largescreen-hidden {
    display: none;
  }
  .content {
    margin-top: 5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
  }

  .welcome-image { margin-left: auto; transform: scale(1.5); margin-right: auto; margin-bottom: 20px;  }
  
  .welcomehe {
    margin-top: 1.2rem ;
    margin-left: auto; margin-right: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    
  }
  
  .texthome {
    margin-top: 3rem;
    margin-left: 4rem; margin-right: 4rem;
    font-size: x-large;
    font-weight: 100;
    line-height: 2.5rem;
  }
  
  .welcome-video{
        height: 750px; width: 1000px; padding: 25px; margin-left:0px; margin-right: auto;
  }

  @keyframes goToMintAnimation{
    0%{background-color: #e2cc00 ;}
    20%{background-color: #e2cb00ec ;}
    40%{background-color: #000000cc ;}
    60%{background-color:  #e2cb00ec;}
    80%{background-color: #e2cc00 ;}
    100%{background-color: #e2cc00 ;}
}


  @media screen and (min-width: 1500px) {
    .largescreen-hidden {
      display: none;
    }
  
  
    
  }
  
@media screen and (max-width :800px)  {
    .smallscreen-hidden{
      display: none;
    }

    .texthome {
      margin-top: 3rem;
      margin-left: auto; margin-right:auto;
      font-size: larger;
      font-weight: 100;
       line-height: 2.5rem;
    }


    .content{
      max-width: 600px;
      margin-top: 1rem;
      align-items: center;
      text-align: center;

     }

     .welcomehe{
      font-size: large;
     }
     .welcome-video{    
      height: 500px; width: 600px; margin-left: auto; margin-right: auto;
    }

    .extlink{
      text-decoration:underline;
       color:rgb(4, 184, 255);
    }    
     
  
    #b1 > h2 {
      align-items: center;
      text-align: center;
      padding-bottom: 1rem;
      margin-top: 2px;
      z-index: 15000;
      color: var(--font-color);
    }
  
    #b1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      padding: 10px;
      top:0%; right: 0%; left: 0%;
      width: 100%;
      margin: 0%;
     background-color: #000000;
      z-index: 15000;
  
       }
       .welcome-image { margin-left: auto; transform: scale(1); margin-right: auto; margin-bottom: 20px;  }

    
  }

  @media screen and (max-width :580px)  {
    .welcome-video{
      height: 300px; width: 100%; margin-left: 0px;
}
    
  }
  