/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: "Poppins", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xlg: 4rem;
  --gap: 2rem;
  --font-secondary: "Arvo", serif;
  --font-code: "Roboto", monospace;
  --bg-color: #000000c7;
  --bg-color-transparent: #00000080;
  --hover-colour: var(--bg-color);
  --font-color: #e2cb00d3;
  --btn-bg-color: #e2cc00;
  --accent-color: #000000;
  --header-shadow: var(--accent-color) 0px 0px 5px;
  --card-shadow: var(--accent-color) 0px 0px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
    letter-spacing: 1px;
    background-color: var(--bg-color);
    color: var(--font-color);
   box-sizing: border-box;
    }

header {
    background-color: var(--bg-color);
    box-shadow: var(--header-shadow);
    position: fixed;
    margin-top: 4.5rem;
    left: 0;
    top: 1.2rem;
    width: 100%;
    z-index: 999;
  }
  

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
    overflow: hidden;
}

li a:hover{
  padding: 1rem;
  top: 8rem;
  right: 1rem;
  display: block;
  justify-content: center;
  background-color: #a19205de;
}

button{
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: var(--header-shadow);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  
}
.btn:hover {
    box-shadow: var(--bg-color-transparent);
}
  .btn:disabled {
    cursor: default;
}

.wallet-btn, #go-to-mint-page{
    border-radius: 4rem;
  margin-left: 2rem;
  border-color: transparent;
    animation: goToMintAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes goToMintAnimation{
    0%{background-color: #e2cc00 ;}
    20%{background-color: #e2cb00ec ;}
    40%{background-color: #000000cc ;}
    60%{background-color:  #e2cb00ec;}
    80%{background-color: #e2cc00 ;}
    100%{background-color: #e2cc00 ;}
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
}

.menu{
  position: initial;
  width: 50%;
  background-color: #000000;
  padding: 2rem;
  top: 8rem;
  right: 1rem;
  display: flex;
  justify-content: center;
}
.list{
    display: flex;
    align-items: center;
    gap: var(--gap);
}
.menu > .list{
    flex-direction: row;
}


.list-link.current{
  color: #ffe601;
}

.list-link:hover,
.btn:hover,
.btn:hover span{
  color: #ffe601;
}
.container{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 1rem 2rem;
    justify-content: space-around;
   }
 footer {
  display: block;
  margin-bottom: 0px;
  justify-content: space-around;
  color: #daf107;
  font-family: var(--font-secondary);
  padding: 15px;
  background-color: var(--bg-color-transparent);
  z-index: 15000;
  bottom: 0%;
  width: 100%;
  max-width: 100%;
 margin-top: 100%;
  }
 
 #countdown2h {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: var(--font-secondary);
  padding: 15px;
  background-color: var(--bg-color-transparent);
  z-index: 15000;
  position: fixed;
  top: 0; right: 0%; left: 0%;
  max-width: 100%;
  }


 .countdown2 {
  justify-content: space-between;
   display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.countdown2 > h1 {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
font-size: 30px;
font-weight: normal;
}



.time2{
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: medium;
  }

.count1 {
  background: var(--accent-color);
  color: var(--font-color);
  font-weight: bolder;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 0.3;
  border-radius: 4px 4px 0 0;
}

.count3 {
  color: var(--font-color);
  font-weight: 700;
  font-family: var(--font-secondary);
  transform: scale(1.2);
  padding-right:2rem;
  width: 100%;
  text-align: center;
  }

.count4{
  color: #e2cc00;
  font-weight: bold;
  font-size: large;
  margin-top: 16px;
  transform: scale(1.3);
}

.count2 {
  background: var(--btn-bg-color);
    font-family: var(--font-secondary);
    font-size: inherit;
    color: var(--bg-color);
    padding: 0.5rem 0.7rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 0.5;
    border-radius: 0 0 4px 4px;
}
.content {
  margin-top: 15rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.welcomehe {
  margin-top: 1.2rem ;
  margin-left: auto; margin-right: auto;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: inherit;
}

.texthome {
  margin-top: 3rem;
  margin-left: 4rem; margin-right: 3rem;
  font-size: larger;
  font-weight: 100;
  color: #daf107;
}


 .minpage {
    font-size: larger;
    align-content: center;
    padding: 20px;
  }
  
@media screen and (min-width :800px) {
  .largescreen-hidden {
    display: none;
  }


  .minpage {
    display: none;
  }
  
}



@media screen and (max-width :800px)  {
  .smallscreen-hidden{
    display: none;
  }
  #b1 > h1 {
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 2px;
    z-index: 15000;
  }

  #b1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    padding: 10x;
    top:0%; right: 0%; left: 0%;
    width: 100%;
    margin: 0%;
    background-color: #00000080;
    z-index: 15000;

     }
     .content{
      max-width: 600px;
      margin-left: 10px;
      margin-top: 16rem;
      align-items: center;
      text-align: center;

     }

     .welcomehe{
      font-size: large;
     }

     header{
      margin-top: 7rem;
     }
  
  
}

